<div class="confirmation">
    <h1 class="confirmation-title">Fertig</h1>
    <h2 class="h2-first">Buchung erfolgreich abgeschlossen</h2>
    <p class="p-first">Deine Buchung ist bei uns eingegangen. Du erhältst in den nächsten Minuten eine E-Mail mit einer Buchungsbestätigung.</p>


    @if (this.booking.selectedService !== serviceOptions.remoteService) {
    <h2 class="h2-second">Terminbestätigung</h2>
    <p class="p-second">Wir kontaktieren dich sobald wie möglich, um dir deinen finalen Termin zu bestätigen.</p>
    
}
    <h3>Vielen Dank für deine Buchung.</h3>
</div>