<header>
    <a>
        <img (click)="reloadHomePage()" style="cursor: pointer;" class="hl_logo" src="HELFERLINE_logo.png">
    </a>
    <nav class="header-menu">
        <ul>
            
            <!-- <li><a [routerLink]="APPURLS.InstallationService" ariaCurrentWhenActive="page">Buchung</a></li> -->
            <!-- <li><a [routerLink]="APPURLS.faq" ariaCurrentWhenActive="page">FAQ</a></li>
            <li><a [routerLink]="APPURLS.about" ariaCurrentWhenActive="page">Über</a></li> -->
        </ul>
    </nav>
</header>
<img src="header.svg" class="header-image">
