<footer>
    <div class="footer-menu">
        <ul>
            <!-- <li><a [routerLink]="APPURLS.InstallationService" ariaCurrentWhenActive="page">Buchung</a></li> -->
            <!-- <li><a [routerLink]="APPURLS.faq" ariaCurrentWhenActive="page">FAQ</a></li>
            <li><a [routerLink]="APPURLS.about" ariaCurrentWhenActive="page">Über</a></li> -->
            <li><a href="https://o2.helferline.com/impressum/">Impressum</a></li>
            <li><a href="https://o2.helferline.com/datenschutz/">Datenschutz</a></li>
        </ul>
    </div>
    <p>© HELFERLINE GmbH 2025</p>
</footer>